body {
  background-color: #3f3f44;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #888888;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 285px;
  width: 250px;
}

.display {
  background-color: #f0f0f0;
  font-size: 40px;
  position: relative;
  text-align: right;
  padding: 10px;
  height: 40px;
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  font-size: 30px;
  margin: 2px;
  height: 40px;
  width: 58px;
}

button.big-v {
  width: 120px;
}

button.big-h {
  width: 182px;
}

button.dark-green {
  background-color: #1eb2a6;
}

button.light-green {
  background-color: #d4f8e8;
}

button.orange {
  background-color: #ffa34d;
}

button.red {
  background-color: #f67575;
}

button:hover {
  opacity: 0.7;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%;
}
